  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
     
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


/*  Laptop (below 1200px) */
@media (max-width: 1600px) {
   .hamburgur{
    display: none;
   }
}

/* Tablet Landscape */
@media (max-width: 992px) {
 .list , .nav-buttons {
   display: none;
}
.hamburgur{
    display: block;
   }
.main-heading {
    font-size: 3rem;
    font-weight: 300;
}
.card-image img{
    height: 300px;
    width: 300px;
    object-fit: contain;
}
.service-heading{
    background-color: #f5f7f9;
    display: flex;
     align-items: center;  
     justify-content: center;  
     padding: 80px 12px;
}
.service{
    background-color: #f5f7f9;
     display: flex; 
     align-items: center; 
     /* flex-wrap: wrap; */
      justify-content: space-between;  
     gap: 1px;
     padding:0px 20px;
}
.card-content{
    padding: 6px;
    margin-top: 5px;
    /* gap: 12px; */
}
.para{
    margin-top: 10px;
    line-height: 1.5;
    /* gap: 16px; */
    padding: 6px;
}
.service2{
  background-color: #001433;
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   gap: 30px;
   padding: 150px;
   margin-top: 140px;
   
}
.service2-card{
      min-height: 140px;
      line-height: -3px;
    min-width: 800px;
    background-color:  rgb(234, 227, 227);
    color:   black;
    display: flex;
   
  align-items: center;
   border-radius: 12px; 
       padding: 4.5rem 2rem;

    /* padding: 4.5rem; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.service2-heading{
  background-color: #001433;
  color: #eff2f6;
  display: flex;
  align-items: center;
  justify-content:center ;
   padding: 4rem 6rem;
    text-align: center;
}
.big-heading{
    display: flex;
    align-items: center;
    justify-content: center; 
    font-size: 20px;

   justify-content: space-between;
   align-items: center;

}
}

/* Tablet Portrait  */
@media (max-width: 768px) {
  .second-navbar{
    display: none;
  }
}

/*  Large Mobile */
@media (max-width: 576px) {
  
}

/*  Small Mobile  */
@media (max-width: 400px) {
   
}

